* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
    --heading-color: #212832;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
