* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
    --heading-color: #212832;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

button {
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    line-height: 2.8rem;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* =========== Common ===========*/
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn-get-started {
    min-width: 149px;
    height: 58px;
    border-radius: 8px;
}

.section-title {
    display: flex;
    column-gap: 12px;
    align-items: center;
    color: #696d77;
    font-weight: 400;
    line-height: 1.75;
}

.section-title::before {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    flex-shrink: 0;
    background: #696d77;
}

.section-heading {
    margin-top: 12px;
    color: var(--heading-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}
@keyframes spinner {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}

/* =========== Header ===========*/
.header {
    position: sticky;
    top: -34px;
    padding-top: 34px;
    z-index: 99;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 8px 0;
    background-color: #fff;
}

.header__navbar {
    margin-left: 70px;
}

.header__list {
    display: flex;
    align-items: center;
    column-gap: 48px;
}

.header__link {
    color: #696d76;
    font-weight: 400;
    line-height: 1.75;
}

.header__action {
    margin-left: auto;
}

.header__action-link {
    margin-right: 25px;
    color: #212832;
    font-weight: 600;
}

.header__action-btn {
    min-width: 113px;
    padding: 12px 28px;
    border-radius: 6px;
    background: var(--heading-color);
}

/* =========== Hero ===========*/
.hero {
    padding-top: 68px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

/* hero content */
.hero__content {
    width: 46%;
    flex-shrink: 0;
}

.hero__heading {
    font-size: 6rem;
    line-height: 1.16;
}

.hero__heading-higthlight {
    color: #7264d6;
}

.form-started {
    display: flex;
    align-items: center;
    width: 100%;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.form-started__input {
    padding: 23px;
    width: 100%;
    height: 100%;
    color: #696d76;
    outline: none;
    border: none;
}

.form-started__btn {
    margin: 8px;
    background: #7264d6;
}

.hero_note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

/* hero media */
.hero__media {
    position: relative;
    flex-grow: 1;
}

.hero__wrap-img {
    position: relative;
    width: 296px;
    border-radius: 40px;
}

.hero__img {
    width: 100%;
    border-radius: inherit;
}

.hero-deposite {
    position: absolute;
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero-deposite__title {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-deposite__money {
    margin-left: 19px;
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1;
}

.hero-funds {
    position: absolute;
    right: -71px;
    bottom: 64px;
    display: flex;
    align-items: center;
    padding: 20px 14px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}

.hero-funds__info {
    margin-left: 10px;
    color: #fff;
}

.hero-funds__money {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-funds__title {
    margin-top: 5px;
    font-size: 0.8rem;
    line-height: 1;
}

.hero-interest {
    position: absolute;
    top: 127px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    color: #fff;
    background: #da6464;
}

.hero-interest__percent {
    margin-top: -8px;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: normal;
}

.hero-interest__title {
    margin-top: -4px;
}

/* =========== How is works ===========*/
.guide {
    margin-top: 160px;
}

.guide__inner {
    display: grid;
    grid-template-columns: 470px 470px;
    align-items: center;
    justify-content: space-between;
}

.guide__wrap-img {
    position: relative;
    background-image: url(../imgs/guide_bgr.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.guide__img {
    display: block;
    padding: 0 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.guide__deco {
    position: absolute;
    top: 76px;
    right: 62px;
}

.guide-success {
    position: absolute;
    right: -100px;
    bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px;
    width: 226px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.guide-success__info {
    font-family: Inter, sans-serif;
}

.guide-success__title {
    color: var(--heading-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-success__sub-title {
    margin-top: 5px;
    color: #696d76;
    font-size: 1.2rem;
    font-weight: 400;
}

.guide__list {
    margin-top: 70px;
}

.guide-item {
    width: 470px;
}

.guide-item + .guide-item {
    margin-top: 30px;
}

.guide-item__title {
    width: 100%;
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.45;
}

.guide-item__sub-title {
    width: 100%;
    color: #696d76;
    line-height: 1.75;
}

/* =========== Feature ===========*/
.feature {
    margin-top: 160px;
}

.feature__inner {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 160px;
    align-items: center;
    justify-content: space-between;
}

/* content */
.feature__content {
    width: 470px;
}

.feature__content--bottom {
    grid-column: 2 / 3;
    margin-left: auto;
}

.feature__list {
    margin-top: 28px;
}

.feature__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.feature__item::before {
    content: "";
    display: block;
    margin-top: -2px;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #7264d6;
}

.feature__item + .feature__item {
    margin-top: 18px;
}

.feature__btn {
    margin-top: 38px;
    background: #212832;
}

/* media top */
.feature__media-inner {
    position: relative;
}

.feature__atm-card {
    margin-right: 88px;
    width: 482px;
    border-radius: 20px;
    object-fit: cover;
}

.feature-payment {
    position: absolute;
    top: -48px;
    right: 0;
    display: flex;
    align-items: center;
    column-gap: 14px;
    padding: 23px 13px;
    width: 276px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature-payment__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 14px;
}

.feature-payment__row + .feature-payment__row {
    margin-top: 4px;
}

.feature-payment__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgba(218, 100, 100, 0.1);
}

.feature-payment__info {
    font-family: Inter, sans-serif;
}

.feature-payment__title {
    color: var(--heading-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.feature-payment__money {
    color: #212832;
}

.feature-payment__text {
    color: #696d76;
    font-size: 1rem;
}

.feature-income {
    position: absolute;
    right: 0;
    bottom: -55px;
    padding: 15px;
    width: 120px;
    border-radius: 16px;
    background: #439f90;
}

.feature-income__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
}

.feature-income__title {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.feature-icome__money {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

/* media bottom */
.feature__media--bottom {
    position: relative;
    padding: 0 28px;
    width: 470px;
    background-image: url(../imgs/feature-bgr.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.feature__img-bottom {
    display: block;
    width: 100%;
}

.payment-method {
    position: absolute;
    right: -74px;
    bottom: 57px;
    padding: 28px;
    width: 281px;
    background: #fff;
    border-radius: 4px;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.payment-method__title {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.payment-method__list {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.payment-method__deco {
    position: absolute;
    top: -35px;
    right: -26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #7264d6;
}

/* =========== Review =========== */
.review {
    margin-top: 160px;
}

.review__header {
    width: 435px;
    text-align: center;
    margin: 0 auto;
}

.review__header-title {
    justify-content: center;
}

.review__header-desc {
    margin-top: 18px;
    color: #696d76;
    line-height: 1.75;
}

.review__list {
    display: flex;
    margin-top: 70px;
    column-gap: 30px;
}

.review-item {
    text-align: center;
}

.review-item__content {
    position: relative;
    padding: 42px 28px;
    color: #696d76;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.54;
    background: #fff;
    filter: drop-shadow(0px 1px 1px #dfe2e8);
}

.review-item__content:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.review-item__content::after {
    position: absolute;
    bottom: 0;
    right: 50%;
    content: "";
    translate: 50% 100%;
    border-style: solid;
    border-width: 60px 50px;
    border-color: #fff transparent transparent transparent;
}

.review-item__info {
    margin-top: 96px;
}

.review-item__wrap-avatar {
    margin: 0 auto;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #4ab5e3;
    overflow: hidden;
}

.review-item__wrap-avatar-2 {
    background: #439f90;
}

.review-item__avatar {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.review-item__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.review-item__job {
    margin-top: 2px;
    color: #696d76;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
}

.review-control {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}

.review-control__item {
    width: 22px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 1px;
    border: 1px solid #9b9fab;
}

.review-control__item:hover {
    stroke-width: 1px;
    stroke: #dfe2e8;
}

.review-control__item--active {
    background: #7264d6;
}

/* =========== Hero ===========*/
.blog {
    margin-top: 160px;
}

.blog_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog_top-left {
    width: 435px;
}

.blog__desc {
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.blog__btn {
    min-width: 123px;
    background: #212832;
}

.blog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 70px;
}

.blog-item {
    display: flex;
    align-items: center;
    column-gap: 22px;
    padding: 28px;
    width: 570px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
}

.blog-item:hover {
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.block-item__link:hover {
    color: #7264d6;
}

.blog-item__img {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    flex-shrink: 0;
    object-fit: cover;
}

.blog-item__date {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.blog-item__title {
    margin-top: 10px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.block-item__link {
    display: inline-block;
    margin-top: 20px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.625;
}

/* Install app */
.install {
    margin-top: 160px;
}

.install__inner {
    position: relative;
    padding: 100px 0;
    text-align: center;
    border-radius: 24px;
    background: #7264d6;
}

.install__title {
    justify-content: center;
    color: #fff;
}

.install__title::before {
    background-color: #fff;
}

.install__heading {
    color: #fff;
}

.install__desc {
    margin: 18px auto 38px;
    width: 435px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.install-app {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}

.install__star {
    position: absolute;
    animation: spinner 3s linear infinite;
}

.install__star:nth-of-type(1) {
    top: 49px;
    left: 112px;
}

.install__star:nth-of-type(2) {
    top: 49px;
    right: 112px;
}

.install__star:nth-of-type(3) {
    bottom: 49px;
    left: 166px;
}
.install__star:nth-of-type(4) {
    bottom: 49px;
    right: 166px;
}

/* =========== Footer ===========*/
.footer {
    padding-top: 100px;
}

.footer__row {
    display: grid;
    justify-content: space-between;
    grid-row: auto;
    grid-template-areas:
        "col-1 col-2 col-3 col-4"
        "col-1 col-2 col-3 col-5";
}

.footer__colunm-1 {
    grid-area: col-1;
}

.footer__colunm-2 {
    grid-area: col-2;
}

.footer__colunm-3 {
    grid-area: col-3;
}

.footer__colunm-4 {
    width: 371px;
    grid-area: col-4;
}

.footer__colunm-5 {
    grid-area: col-5;
    margin-top: 48px;
}

.footer__title {
    margin-bottom: 24px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.footer__item {
    margin-top: 12px;
}

.footer__link {
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    opacity: 0.75;
}

.form-subscribe {
    display: flex;
    column-gap: 20px;
}

.form-subscribw__input {
    padding: 12px;
    width: 270px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #8e919a;
}

.form-subscribw__input,
.form-subscribw__input::placeholder {
    color: #8e919a;
    line-height: 1.75;
}

.form-subscribw__input::placeholder {
    opacity: 0.7;
}

.form-subscibe__btn {
    min-width: 113px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #7264d6;
}

.footer__wrap-contact {
    margin-top: 54px;
    display: flex;
    column-gap: 100px;
}

.footer__contact {
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    text-decoration-line: underline;
}

.footer__bottom {
    margin-top: 28px;
    padding: 28px 0;
    text-align: center;
    background: #7264d6;
}

.footer_copy {
    color: #fff;
    line-height: 1.75;
}
